@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-seri;
}
.active {
  font-weight: 900;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container {
  width: calc(100% - 120px);
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header {
  background-color: #fff;
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}
header .logo {
  display: flex;
  gap: 5px;
  align-items: center;
}
header .logo a {
  font-size: 12px;
  color: #545be8;
}

header .logo img {
  width: 35px;
}
nav ul {
  display: flex;
  gap: 16.474px;
  flex-wrap: wrap;
}

nav ul a {
  color: #101928;
  font-size: 10px;
}

header .auth-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
header .auth-buttons a {
  font-size: 12px;
  border: 0.412px solid #545be8;
  padding: 5.354px 20.181px;
  font-family: "Inter", sans-serif;
  border-radius: 4.119px;
}

header .auth-buttons .Login {
  color: #545be8;
  font-family: Inter;
  font-size: 7.413px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header .auth-buttons .Register {
  color: #fff;
  background-color: #545be8;
  font-family: Inter;
  font-size: 7.413px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.testimonials {
  padding: 40px;
}

section .testimonil {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--White-color, #fff);
  box-shadow: 0px 6.33658px 6.33658px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.testimonials .user-info {
  display: flex;
  gap: 10px;
}

.testimonials .user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.testimonial .user-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testimonials .user-data span {
  color: #969696;
}
.testimonials blockquote {
  font-size: 13px;
}

.testimonial:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid F4F4F4;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(0deg);
}

footer {
  background-color: #393e46;
  padding: 50px 0;
  color: white;
}
footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
}
footer p {
  font-size: 15px;
}
.footer .row {
  gap: 40;
}
footer .logo a {
  color: white;
}
footer .icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
footer svg {
  border: 0.317px solid #fff;
  padding: 10px;
  width: 20px;
  height: 20px;

  box-sizing: content-box;
}
.footer-right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #ffffff;
}
.footer-right-side a {
  color: #f4f4f4;
}
.footer-right-side,
.footer-left-side {
  width: calc((100% - 40px) / 2);
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 7.16px;
}
.footer-item nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
